@model DoAn.Models.Accounts.User;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
    int countTicket = (Model != null && Model.Tickets != null) ? Model.Tickets.Count() : 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/user/profile.css" asp-append-version="true" />
}

<main>
    <div class="profile-container">
        <div class="profile-header">
            <img src="https://imgs.search.brave.com/xuGTfXYuSalY6cchsDQSZT8OihBNvHJ4uGDrFxMhNfU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvbWFuLWZhY2Ut/dmVjdG9yXzEwNzI4/NTctNzY0My5qcGc_/c2VtdD1haXNfaHli/cmlkJnc9NzQwJnE9/ODA" alt="Avatar">
            <div>
                <h2>@(Model?.FullName ?? "Unknow")</h2>
                <p>Mã thành viên: <strong>MEM @(Model?.UserId.ToString() ?? "NaN")</strong></p>
                <p>Hạng thành viên: <strong>@(Model?.Membership?.MembershipTier?.TierName ?? "NaN")</strong></p>
            </div>
        </div>

        <div class="stats-row">
            <div class="stat-card">
                <div class="stat-number">@(Model?.Membership?.Points ?? 0)</div>
                <div class="stat-label">Điểm tích lũy</div>
            </div>
            <div class="stat-card">
                <div class="stat-number">@countTicket</div>
                <div class="stat-label">Vé đã mua</div>
            </div>
            <div class="stat-card">
                <div class="stat-number">3</div>
                <div class="stat-label">Ưu đãi</div>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="card-container ticket-card">
                <div class="card-header ticket-header">
                    <div class="title ticket-title">
                        Vé của tôi
                    </div>
                    <div class="view-all">Xem tất cả</div>
                </div>
                <div class="card-content ticket-content">
                    @if (countTicket > 0)
                    {
                        @foreach (var ticket in Model.Tickets)
                        {
                            <div class="item ticket-item">
                                <div class="icon">
                                    <img width="100" height="100" src="@ticket.Showtime.Movie.PosterUrl" alt="Alternate Text" />
                                </div>
                                <div class="info">
                                    <div class="movie-name">@ticket.Showtime.Movie.Title</div>
                                    <div class="detail">@ticket.BookingTime - @ticket.Showtime.StartTime tại @ticket.Seat.Room.Branch.Name</div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-ticket">
                            <p>Bạn chưa có vé nào.</p>
                            <a href="/Movies" class="browse-movies-button">Duyệt phim</a>
                        </div>
                    }
                </div>
            </div>

            <div class="card-container">
                <div class="card-header">
                    <div class="title">
                        Lịch sử mua vé
                    </div>
                    <div class="view-all">Xem tất cả</div>
                </div>
                <div class="card-content">
                    <div class="item">
                        <div class="icon">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.1667 12.474C23.6458 12.5261 23.125 12.2136 22.9167 11.6927C22.7083 11.1719 22.8646 10.599 23.2292 10.2344L22.9687 9.6615C22.4479 9.7136 21.9271 9.4011 21.7187 8.88025C21.5104 8.3594 21.6667 7.7865 22.0313 7.4219L21.7708 6.849C21.25 6.9011 20.7292 6.5886 20.5208 6.06775C20.3125 5.5469 20.4687 4.974 20.8333 4.6094L20.625 4.14065C19.9479 4.45315 19.1146 4.14065 18.8542 3.4115L0.72915 11.224C1.04165 11.9011 0.72915 12.7344 0 12.9948L0.20835 13.4636C0.729199 13.4115 1.25 13.724 1.45835 14.2448C1.6667 14.7657 1.51045 15.3386 1.14585 15.7032L1.40625 16.2761C1.9271 16.224 2.4479 16.5365 2.65625 17.0573C2.8646 17.5782 2.70835 18.1511 2.34375 18.5157L2.60415 19.0886C3.125 19.0365 3.6458 19.349 3.85415 19.8698C4.0625 20.3907 3.90625 20.9636 3.54165 21.3282L3.75 21.7969C4.4271 21.4844 5.2604 21.7969 5.52085 22.5261L23.6458 14.7657C23.3333 14.0886 23.6459 13.2553 24.375 12.9948L24.1667 12.474Z" fill="#FF7058" />
                                <path d="M21.0418 13.2552L6.25015 19.5573L3.3335 12.6823L18.1251 6.32812L21.0418 13.2552ZM6.61475 18.6719L20.1564 12.8385L17.7605 7.26562L4.2189 13.099L6.61475 18.6719Z" fill="#FFD15C" />
                                <path d="M6.14585 14.6094L6.875 14.2448L7.7604 16.3281L8.22915 16.1719L7.34375 14.0885L8.0729 13.7239L7.91665 13.3073L5.9375 14.1406L6.14585 14.6094Z" fill="white" />
                                <path d="M8.0791 13.2302L8.55772 13.0249L9.64602 15.5616L9.1674 15.767L8.0791 13.2302Z" fill="white" />
                                <path d="M11.5104 13.9323C11.4583 14.1927 11.3021 14.401 11.0417 14.5052C10.5729 14.7135 10.0521 14.5052 9.84376 13.9843C9.63541 13.4635 9.79166 12.9947 10.3125 12.7864C10.5209 12.6823 10.8334 12.7343 11.0417 12.8385L11.0938 12.8906L11.4063 12.474L11.3021 12.4219C10.9375 12.2135 10.5209 12.1615 10.1042 12.3177C9.37506 12.6302 9.06256 13.4115 9.37506 14.1927C9.68751 14.9219 10.4688 15.2344 11.25 14.9219C11.6667 14.7656 11.875 14.4531 11.9792 13.9844V13.8802L11.4583 13.8281L11.5104 13.9323ZM13.2813 11.0156L12.7084 11.224L12.2396 12.6823L11.7709 11.6406L11.3542 11.849L12.3959 14.349L12.8646 14.1406L12.5 13.3073L12.6042 13.099L13.8542 13.7239L14.4792 13.4635L12.7604 12.6302L13.2813 11.0156ZM14.5834 13.4115L16.3021 12.6823L16.0938 12.2656L14.8438 12.7865L14.5834 12.1615L15.7813 11.6406L15.625 11.224L14.375 11.7448L14.1667 11.1198L15.4167 10.599L15.2084 10.1823L13.4896 10.9115L14.5834 13.4115ZM15.3646 10.0781L15.5729 10.5469L16.3021 10.2344L17.1875 12.3177L17.6563 12.1094L16.7709 10.026L17.5521 9.7135L17.3438 9.24475L15.3646 10.0781Z" fill="white" />
                                <path opacity="0.1" d="M22.8647 11.6927C22.6564 11.1719 22.8126 10.599 23.1772 10.2344L22.9168 9.6615C22.396 9.7136 21.8752 9.4011 21.6668 8.88025C21.4585 8.3594 21.6147 7.7865 21.9793 7.4219L21.7189 6.849C21.1981 6.9011 20.6773 6.5886 20.4689 6.06775C20.2606 5.5469 20.4168 4.974 20.7814 4.6094L20.5731 4.14065C19.896 4.45315 19.0627 4.14065 18.8022 3.4115L1.771 10.7031V10.9636L2.29185 11.1198C2.4481 11.1719 2.65645 11.3281 2.65645 11.5885C2.65645 11.849 2.5002 12.0052 2.29185 12.0573L1.771 12.2135V14.0365H2.60435C2.91685 14.0365 3.17725 14.2969 3.17725 14.6094V15.3906H21.8231L23.646 14.6094C23.3335 13.9323 23.646 13.099 24.3751 12.8385L24.1668 12.4739C23.646 12.526 23.1251 12.2136 22.8647 11.6927Z" fill="#231F20" />
                                <path d="M24.9999 12.8386C24.479 12.6823 24.1145 12.2135 24.1145 11.6406C24.1145 11.0677 24.4791 10.599 24.9999 10.4427V9.76565C24.479 9.6094 24.1145 9.14065 24.1145 8.56775C24.1145 7.99485 24.4791 7.5261 24.9999 7.36985V6.74485C24.479 6.5886 24.1145 6.11985 24.1145 5.54695C24.1145 4.97405 24.479 4.50525 24.9999 4.349V3.82815C24.2707 3.82815 23.6457 3.20315 23.6457 2.474H3.9582C3.9582 3.20315 3.3332 3.82815 2.60405 3.82815V4.2969C3.12485 4.45315 3.48945 4.9219 3.48945 5.4948C3.48945 6.0677 3.0728 6.53645 2.60405 6.7448V7.4219C3.1249 7.57815 3.48945 8.0469 3.48945 8.6198C3.48945 9.1927 3.12485 9.6615 2.604 9.81775V10.4948C3.12485 10.6511 3.4894 11.1198 3.4894 11.6927C3.48945 12.2656 3.12485 12.7344 2.604 12.8906V13.3594C3.33315 13.3594 3.95815 13.9844 3.95815 14.7136H23.6457C23.6457 13.9844 24.2707 13.3594 24.9998 13.3594L24.9999 12.8386Z" fill="#FF7058" />
                                <path d="M21.8228 12.3177H5.729V4.86975H21.8228V12.3177ZM6.4061 11.6406H21.1457V5.54685H6.4061V11.6406Z" fill="#FFD15C" />
                                <path d="M7.604 7.68227H8.38525V9.97397H8.9061V7.68227H9.73945V7.21353H7.604V7.68227ZM9.94775 7.21353H10.4686V9.97393H9.94775V7.21353ZM12.8124 9.19272C12.6561 9.40107 12.4478 9.50522 12.1874 9.50522C11.6665 9.50522 11.302 9.08857 11.302 8.56772C11.302 8.04687 11.6666 7.63022 12.1874 7.63022C12.4478 7.63022 12.6561 7.73438 12.8124 7.94272L12.8645 7.99482L13.2811 7.73437L13.229 7.63022C12.9686 7.26562 12.604 7.10938 12.1874 7.10938C11.354 7.10938 10.7811 7.68227 10.7811 8.51562C10.7811 9.34897 11.354 9.92187 12.1874 9.92187C12.604 9.92187 12.9686 9.71352 13.229 9.34897L13.2811 9.24482L12.8645 8.98437L12.8124 9.19272ZM15.6249 7.21353H14.9478L13.9582 8.35937V7.21353H13.4374V9.97397H13.9582V9.03647L14.1145 8.88022L15.052 9.97397H15.677L14.479 8.51562L15.6249 7.21353ZM15.8332 9.97397H17.6561V9.50522H16.302V8.77603H17.6561V8.30727H16.302V7.68227H17.6561V7.21353H15.8332V9.97397ZM17.8645 7.21353V7.68227H18.6978V9.97397H19.1665V7.68227H19.9999V7.21353H17.8645Z" fill="white" />
                            </svg>
                        </div>
                        <div class="info">
                            <div class="movie-name">Kimetsu No Yaiba</div>
                            <div class="detail">02/09/2025 - 19:30 tại CGV Tân Phú</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.1667 12.474C23.6458 12.5261 23.125 12.2136 22.9167 11.6927C22.7083 11.1719 22.8646 10.599 23.2292 10.2344L22.9687 9.6615C22.4479 9.7136 21.9271 9.4011 21.7187 8.88025C21.5104 8.3594 21.6667 7.7865 22.0313 7.4219L21.7708 6.849C21.25 6.9011 20.7292 6.5886 20.5208 6.06775C20.3125 5.5469 20.4687 4.974 20.8333 4.6094L20.625 4.14065C19.9479 4.45315 19.1146 4.14065 18.8542 3.4115L0.72915 11.224C1.04165 11.9011 0.72915 12.7344 0 12.9948L0.20835 13.4636C0.729199 13.4115 1.25 13.724 1.45835 14.2448C1.6667 14.7657 1.51045 15.3386 1.14585 15.7032L1.40625 16.2761C1.9271 16.224 2.4479 16.5365 2.65625 17.0573C2.8646 17.5782 2.70835 18.1511 2.34375 18.5157L2.60415 19.0886C3.125 19.0365 3.6458 19.349 3.85415 19.8698C4.0625 20.3907 3.90625 20.9636 3.54165 21.3282L3.75 21.7969C4.4271 21.4844 5.2604 21.7969 5.52085 22.5261L23.6458 14.7657C23.3333 14.0886 23.6459 13.2553 24.375 12.9948L24.1667 12.474Z" fill="#FF7058" />
                                <path d="M21.0418 13.2552L6.25015 19.5573L3.3335 12.6823L18.1251 6.32812L21.0418 13.2552ZM6.61475 18.6719L20.1564 12.8385L17.7605 7.26562L4.2189 13.099L6.61475 18.6719Z" fill="#FFD15C" />
                                <path d="M6.14585 14.6094L6.875 14.2448L7.7604 16.3281L8.22915 16.1719L7.34375 14.0885L8.0729 13.7239L7.91665 13.3073L5.9375 14.1406L6.14585 14.6094Z" fill="white" />
                                <path d="M8.0791 13.2302L8.55772 13.0249L9.64602 15.5616L9.1674 15.767L8.0791 13.2302Z" fill="white" />
                                <path d="M11.5104 13.9323C11.4583 14.1927 11.3021 14.401 11.0417 14.5052C10.5729 14.7135 10.0521 14.5052 9.84376 13.9843C9.63541 13.4635 9.79166 12.9947 10.3125 12.7864C10.5209 12.6823 10.8334 12.7343 11.0417 12.8385L11.0938 12.8906L11.4063 12.474L11.3021 12.4219C10.9375 12.2135 10.5209 12.1615 10.1042 12.3177C9.37506 12.6302 9.06256 13.4115 9.37506 14.1927C9.68751 14.9219 10.4688 15.2344 11.25 14.9219C11.6667 14.7656 11.875 14.4531 11.9792 13.9844V13.8802L11.4583 13.8281L11.5104 13.9323ZM13.2813 11.0156L12.7084 11.224L12.2396 12.6823L11.7709 11.6406L11.3542 11.849L12.3959 14.349L12.8646 14.1406L12.5 13.3073L12.6042 13.099L13.8542 13.7239L14.4792 13.4635L12.7604 12.6302L13.2813 11.0156ZM14.5834 13.4115L16.3021 12.6823L16.0938 12.2656L14.8438 12.7865L14.5834 12.1615L15.7813 11.6406L15.625 11.224L14.375 11.7448L14.1667 11.1198L15.4167 10.599L15.2084 10.1823L13.4896 10.9115L14.5834 13.4115ZM15.3646 10.0781L15.5729 10.5469L16.3021 10.2344L17.1875 12.3177L17.6563 12.1094L16.7709 10.026L17.5521 9.7135L17.3438 9.24475L15.3646 10.0781Z" fill="white" />
                                <path opacity="0.1" d="M22.8647 11.6927C22.6564 11.1719 22.8126 10.599 23.1772 10.2344L22.9168 9.6615C22.396 9.7136 21.8752 9.4011 21.6668 8.88025C21.4585 8.3594 21.6147 7.7865 21.9793 7.4219L21.7189 6.849C21.1981 6.9011 20.6773 6.5886 20.4689 6.06775C20.2606 5.5469 20.4168 4.974 20.7814 4.6094L20.5731 4.14065C19.896 4.45315 19.0627 4.14065 18.8022 3.4115L1.771 10.7031V10.9636L2.29185 11.1198C2.4481 11.1719 2.65645 11.3281 2.65645 11.5885C2.65645 11.849 2.5002 12.0052 2.29185 12.0573L1.771 12.2135V14.0365H2.60435C2.91685 14.0365 3.17725 14.2969 3.17725 14.6094V15.3906H21.8231L23.646 14.6094C23.3335 13.9323 23.646 13.099 24.3751 12.8385L24.1668 12.4739C23.646 12.526 23.1251 12.2136 22.8647 11.6927Z" fill="#231F20" />
                                <path d="M24.9999 12.8386C24.479 12.6823 24.1145 12.2135 24.1145 11.6406C24.1145 11.0677 24.4791 10.599 24.9999 10.4427V9.76565C24.479 9.6094 24.1145 9.14065 24.1145 8.56775C24.1145 7.99485 24.4791 7.5261 24.9999 7.36985V6.74485C24.479 6.5886 24.1145 6.11985 24.1145 5.54695C24.1145 4.97405 24.479 4.50525 24.9999 4.349V3.82815C24.2707 3.82815 23.6457 3.20315 23.6457 2.474H3.9582C3.9582 3.20315 3.3332 3.82815 2.60405 3.82815V4.2969C3.12485 4.45315 3.48945 4.9219 3.48945 5.4948C3.48945 6.0677 3.0728 6.53645 2.60405 6.7448V7.4219C3.1249 7.57815 3.48945 8.0469 3.48945 8.6198C3.48945 9.1927 3.12485 9.6615 2.604 9.81775V10.4948C3.12485 10.6511 3.4894 11.1198 3.4894 11.6927C3.48945 12.2656 3.12485 12.7344 2.604 12.8906V13.3594C3.33315 13.3594 3.95815 13.9844 3.95815 14.7136H23.6457C23.6457 13.9844 24.2707 13.3594 24.9998 13.3594L24.9999 12.8386Z" fill="#FF7058" />
                                <path d="M21.8228 12.3177H5.729V4.86975H21.8228V12.3177ZM6.4061 11.6406H21.1457V5.54685H6.4061V11.6406Z" fill="#FFD15C" />
                                <path d="M7.604 7.68227H8.38525V9.97397H8.9061V7.68227H9.73945V7.21353H7.604V7.68227ZM9.94775 7.21353H10.4686V9.97393H9.94775V7.21353ZM12.8124 9.19272C12.6561 9.40107 12.4478 9.50522 12.1874 9.50522C11.6665 9.50522 11.302 9.08857 11.302 8.56772C11.302 8.04687 11.6666 7.63022 12.1874 7.63022C12.4478 7.63022 12.6561 7.73438 12.8124 7.94272L12.8645 7.99482L13.2811 7.73437L13.229 7.63022C12.9686 7.26562 12.604 7.10938 12.1874 7.10938C11.354 7.10938 10.7811 7.68227 10.7811 8.51562C10.7811 9.34897 11.354 9.92187 12.1874 9.92187C12.604 9.92187 12.9686 9.71352 13.229 9.34897L13.2811 9.24482L12.8645 8.98437L12.8124 9.19272ZM15.6249 7.21353H14.9478L13.9582 8.35937V7.21353H13.4374V9.97397H13.9582V9.03647L14.1145 8.88022L15.052 9.97397H15.677L14.479 8.51562L15.6249 7.21353ZM15.8332 9.97397H17.6561V9.50522H16.302V8.77603H17.6561V8.30727H16.302V7.68227H17.6561V7.21353H15.8332V9.97397ZM17.8645 7.21353V7.68227H18.6978V9.97397H19.1665V7.68227H19.9999V7.21353H17.8645Z" fill="white" />
                            </svg>
                        </div>
                        <div class="info">
                            <div class="movie-name">Kimetsu No Yaiba</div>
                            <div class="detail">02/09/2025 - 19:30 tại CGV Tân Phú</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-header">
                    <div class="title">
                        Ưu đãi
                    </div>
                    <div class="view-all">Xem tất cả</div>
                </div>
                <div class="card-content">
                    <div class="item">
                        <div class="icon">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.1667 12.474C23.6458 12.5261 23.125 12.2136 22.9167 11.6927C22.7083 11.1719 22.8646 10.599 23.2292 10.2344L22.9687 9.6615C22.4479 9.7136 21.9271 9.4011 21.7187 8.88025C21.5104 8.3594 21.6667 7.7865 22.0313 7.4219L21.7708 6.849C21.25 6.9011 20.7292 6.5886 20.5208 6.06775C20.3125 5.5469 20.4687 4.974 20.8333 4.6094L20.625 4.14065C19.9479 4.45315 19.1146 4.14065 18.8542 3.4115L0.72915 11.224C1.04165 11.9011 0.72915 12.7344 0 12.9948L0.20835 13.4636C0.729199 13.4115 1.25 13.724 1.45835 14.2448C1.6667 14.7657 1.51045 15.3386 1.14585 15.7032L1.40625 16.2761C1.9271 16.224 2.4479 16.5365 2.65625 17.0573C2.8646 17.5782 2.70835 18.1511 2.34375 18.5157L2.60415 19.0886C3.125 19.0365 3.6458 19.349 3.85415 19.8698C4.0625 20.3907 3.90625 20.9636 3.54165 21.3282L3.75 21.7969C4.4271 21.4844 5.2604 21.7969 5.52085 22.5261L23.6458 14.7657C23.3333 14.0886 23.6459 13.2553 24.375 12.9948L24.1667 12.474Z" fill="#FF7058" />
                                <path d="M21.0418 13.2552L6.25015 19.5573L3.3335 12.6823L18.1251 6.32812L21.0418 13.2552ZM6.61475 18.6719L20.1564 12.8385L17.7605 7.26562L4.2189 13.099L6.61475 18.6719Z" fill="#FFD15C" />
                                <path d="M6.14585 14.6094L6.875 14.2448L7.7604 16.3281L8.22915 16.1719L7.34375 14.0885L8.0729 13.7239L7.91665 13.3073L5.9375 14.1406L6.14585 14.6094Z" fill="white" />
                                <path d="M8.0791 13.2302L8.55772 13.0249L9.64602 15.5616L9.1674 15.767L8.0791 13.2302Z" fill="white" />
                                <path d="M11.5104 13.9323C11.4583 14.1927 11.3021 14.401 11.0417 14.5052C10.5729 14.7135 10.0521 14.5052 9.84376 13.9843C9.63541 13.4635 9.79166 12.9947 10.3125 12.7864C10.5209 12.6823 10.8334 12.7343 11.0417 12.8385L11.0938 12.8906L11.4063 12.474L11.3021 12.4219C10.9375 12.2135 10.5209 12.1615 10.1042 12.3177C9.37506 12.6302 9.06256 13.4115 9.37506 14.1927C9.68751 14.9219 10.4688 15.2344 11.25 14.9219C11.6667 14.7656 11.875 14.4531 11.9792 13.9844V13.8802L11.4583 13.8281L11.5104 13.9323ZM13.2813 11.0156L12.7084 11.224L12.2396 12.6823L11.7709 11.6406L11.3542 11.849L12.3959 14.349L12.8646 14.1406L12.5 13.3073L12.6042 13.099L13.8542 13.7239L14.4792 13.4635L12.7604 12.6302L13.2813 11.0156ZM14.5834 13.4115L16.3021 12.6823L16.0938 12.2656L14.8438 12.7865L14.5834 12.1615L15.7813 11.6406L15.625 11.224L14.375 11.7448L14.1667 11.1198L15.4167 10.599L15.2084 10.1823L13.4896 10.9115L14.5834 13.4115ZM15.3646 10.0781L15.5729 10.5469L16.3021 10.2344L17.1875 12.3177L17.6563 12.1094L16.7709 10.026L17.5521 9.7135L17.3438 9.24475L15.3646 10.0781Z" fill="white" />
                                <path opacity="0.1" d="M22.8647 11.6927C22.6564 11.1719 22.8126 10.599 23.1772 10.2344L22.9168 9.6615C22.396 9.7136 21.8752 9.4011 21.6668 8.88025C21.4585 8.3594 21.6147 7.7865 21.9793 7.4219L21.7189 6.849C21.1981 6.9011 20.6773 6.5886 20.4689 6.06775C20.2606 5.5469 20.4168 4.974 20.7814 4.6094L20.5731 4.14065C19.896 4.45315 19.0627 4.14065 18.8022 3.4115L1.771 10.7031V10.9636L2.29185 11.1198C2.4481 11.1719 2.65645 11.3281 2.65645 11.5885C2.65645 11.849 2.5002 12.0052 2.29185 12.0573L1.771 12.2135V14.0365H2.60435C2.91685 14.0365 3.17725 14.2969 3.17725 14.6094V15.3906H21.8231L23.646 14.6094C23.3335 13.9323 23.646 13.099 24.3751 12.8385L24.1668 12.4739C23.646 12.526 23.1251 12.2136 22.8647 11.6927Z" fill="#231F20" />
                                <path d="M24.9999 12.8386C24.479 12.6823 24.1145 12.2135 24.1145 11.6406C24.1145 11.0677 24.4791 10.599 24.9999 10.4427V9.76565C24.479 9.6094 24.1145 9.14065 24.1145 8.56775C24.1145 7.99485 24.4791 7.5261 24.9999 7.36985V6.74485C24.479 6.5886 24.1145 6.11985 24.1145 5.54695C24.1145 4.97405 24.479 4.50525 24.9999 4.349V3.82815C24.2707 3.82815 23.6457 3.20315 23.6457 2.474H3.9582C3.9582 3.20315 3.3332 3.82815 2.60405 3.82815V4.2969C3.12485 4.45315 3.48945 4.9219 3.48945 5.4948C3.48945 6.0677 3.0728 6.53645 2.60405 6.7448V7.4219C3.1249 7.57815 3.48945 8.0469 3.48945 8.6198C3.48945 9.1927 3.12485 9.6615 2.604 9.81775V10.4948C3.12485 10.6511 3.4894 11.1198 3.4894 11.6927C3.48945 12.2656 3.12485 12.7344 2.604 12.8906V13.3594C3.33315 13.3594 3.95815 13.9844 3.95815 14.7136H23.6457C23.6457 13.9844 24.2707 13.3594 24.9998 13.3594L24.9999 12.8386Z" fill="#FF7058" />
                                <path d="M21.8228 12.3177H5.729V4.86975H21.8228V12.3177ZM6.4061 11.6406H21.1457V5.54685H6.4061V11.6406Z" fill="#FFD15C" />
                                <path d="M7.604 7.68227H8.38525V9.97397H8.9061V7.68227H9.73945V7.21353H7.604V7.68227ZM9.94775 7.21353H10.4686V9.97393H9.94775V7.21353ZM12.8124 9.19272C12.6561 9.40107 12.4478 9.50522 12.1874 9.50522C11.6665 9.50522 11.302 9.08857 11.302 8.56772C11.302 8.04687 11.6666 7.63022 12.1874 7.63022C12.4478 7.63022 12.6561 7.73438 12.8124 7.94272L12.8645 7.99482L13.2811 7.73437L13.229 7.63022C12.9686 7.26562 12.604 7.10938 12.1874 7.10938C11.354 7.10938 10.7811 7.68227 10.7811 8.51562C10.7811 9.34897 11.354 9.92187 12.1874 9.92187C12.604 9.92187 12.9686 9.71352 13.229 9.34897L13.2811 9.24482L12.8645 8.98437L12.8124 9.19272ZM15.6249 7.21353H14.9478L13.9582 8.35937V7.21353H13.4374V9.97397H13.9582V9.03647L14.1145 8.88022L15.052 9.97397H15.677L14.479 8.51562L15.6249 7.21353ZM15.8332 9.97397H17.6561V9.50522H16.302V8.77603H17.6561V8.30727H16.302V7.68227H17.6561V7.21353H15.8332V9.97397ZM17.8645 7.21353V7.68227H18.6978V9.97397H19.1665V7.68227H19.9999V7.21353H17.8645Z" fill="white" />
                            </svg>
                        </div>
                        <div class="info">
                            <div class="movie-name">Kimetsu No Yaiba</div>
                            <div class="detail">02/09/2025 - 19:30 tại CGV Tân Phú</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.1667 12.474C23.6458 12.5261 23.125 12.2136 22.9167 11.6927C22.7083 11.1719 22.8646 10.599 23.2292 10.2344L22.9687 9.6615C22.4479 9.7136 21.9271 9.4011 21.7187 8.88025C21.5104 8.3594 21.6667 7.7865 22.0313 7.4219L21.7708 6.849C21.25 6.9011 20.7292 6.5886 20.5208 6.06775C20.3125 5.5469 20.4687 4.974 20.8333 4.6094L20.625 4.14065C19.9479 4.45315 19.1146 4.14065 18.8542 3.4115L0.72915 11.224C1.04165 11.9011 0.72915 12.7344 0 12.9948L0.20835 13.4636C0.729199 13.4115 1.25 13.724 1.45835 14.2448C1.6667 14.7657 1.51045 15.3386 1.14585 15.7032L1.40625 16.2761C1.9271 16.224 2.4479 16.5365 2.65625 17.0573C2.8646 17.5782 2.70835 18.1511 2.34375 18.5157L2.60415 19.0886C3.125 19.0365 3.6458 19.349 3.85415 19.8698C4.0625 20.3907 3.90625 20.9636 3.54165 21.3282L3.75 21.7969C4.4271 21.4844 5.2604 21.7969 5.52085 22.5261L23.6458 14.7657C23.3333 14.0886 23.6459 13.2553 24.375 12.9948L24.1667 12.474Z" fill="#FF7058" />
                                <path d="M21.0418 13.2552L6.25015 19.5573L3.3335 12.6823L18.1251 6.32812L21.0418 13.2552ZM6.61475 18.6719L20.1564 12.8385L17.7605 7.26562L4.2189 13.099L6.61475 18.6719Z" fill="#FFD15C" />
                                <path d="M6.14585 14.6094L6.875 14.2448L7.7604 16.3281L8.22915 16.1719L7.34375 14.0885L8.0729 13.7239L7.91665 13.3073L5.9375 14.1406L6.14585 14.6094Z" fill="white" />
                                <path d="M8.0791 13.2302L8.55772 13.0249L9.64602 15.5616L9.1674 15.767L8.0791 13.2302Z" fill="white" />
                                <path d="M11.5104 13.9323C11.4583 14.1927 11.3021 14.401 11.0417 14.5052C10.5729 14.7135 10.0521 14.5052 9.84376 13.9843C9.63541 13.4635 9.79166 12.9947 10.3125 12.7864C10.5209 12.6823 10.8334 12.7343 11.0417 12.8385L11.0938 12.8906L11.4063 12.474L11.3021 12.4219C10.9375 12.2135 10.5209 12.1615 10.1042 12.3177C9.37506 12.6302 9.06256 13.4115 9.37506 14.1927C9.68751 14.9219 10.4688 15.2344 11.25 14.9219C11.6667 14.7656 11.875 14.4531 11.9792 13.9844V13.8802L11.4583 13.8281L11.5104 13.9323ZM13.2813 11.0156L12.7084 11.224L12.2396 12.6823L11.7709 11.6406L11.3542 11.849L12.3959 14.349L12.8646 14.1406L12.5 13.3073L12.6042 13.099L13.8542 13.7239L14.4792 13.4635L12.7604 12.6302L13.2813 11.0156ZM14.5834 13.4115L16.3021 12.6823L16.0938 12.2656L14.8438 12.7865L14.5834 12.1615L15.7813 11.6406L15.625 11.224L14.375 11.7448L14.1667 11.1198L15.4167 10.599L15.2084 10.1823L13.4896 10.9115L14.5834 13.4115ZM15.3646 10.0781L15.5729 10.5469L16.3021 10.2344L17.1875 12.3177L17.6563 12.1094L16.7709 10.026L17.5521 9.7135L17.3438 9.24475L15.3646 10.0781Z" fill="white" />
                                <path opacity="0.1" d="M22.8647 11.6927C22.6564 11.1719 22.8126 10.599 23.1772 10.2344L22.9168 9.6615C22.396 9.7136 21.8752 9.4011 21.6668 8.88025C21.4585 8.3594 21.6147 7.7865 21.9793 7.4219L21.7189 6.849C21.1981 6.9011 20.6773 6.5886 20.4689 6.06775C20.2606 5.5469 20.4168 4.974 20.7814 4.6094L20.5731 4.14065C19.896 4.45315 19.0627 4.14065 18.8022 3.4115L1.771 10.7031V10.9636L2.29185 11.1198C2.4481 11.1719 2.65645 11.3281 2.65645 11.5885C2.65645 11.849 2.5002 12.0052 2.29185 12.0573L1.771 12.2135V14.0365H2.60435C2.91685 14.0365 3.17725 14.2969 3.17725 14.6094V15.3906H21.8231L23.646 14.6094C23.3335 13.9323 23.646 13.099 24.3751 12.8385L24.1668 12.4739C23.646 12.526 23.1251 12.2136 22.8647 11.6927Z" fill="#231F20" />
                                <path d="M24.9999 12.8386C24.479 12.6823 24.1145 12.2135 24.1145 11.6406C24.1145 11.0677 24.4791 10.599 24.9999 10.4427V9.76565C24.479 9.6094 24.1145 9.14065 24.1145 8.56775C24.1145 7.99485 24.4791 7.5261 24.9999 7.36985V6.74485C24.479 6.5886 24.1145 6.11985 24.1145 5.54695C24.1145 4.97405 24.479 4.50525 24.9999 4.349V3.82815C24.2707 3.82815 23.6457 3.20315 23.6457 2.474H3.9582C3.9582 3.20315 3.3332 3.82815 2.60405 3.82815V4.2969C3.12485 4.45315 3.48945 4.9219 3.48945 5.4948C3.48945 6.0677 3.0728 6.53645 2.60405 6.7448V7.4219C3.1249 7.57815 3.48945 8.0469 3.48945 8.6198C3.48945 9.1927 3.12485 9.6615 2.604 9.81775V10.4948C3.12485 10.6511 3.4894 11.1198 3.4894 11.6927C3.48945 12.2656 3.12485 12.7344 2.604 12.8906V13.3594C3.33315 13.3594 3.95815 13.9844 3.95815 14.7136H23.6457C23.6457 13.9844 24.2707 13.3594 24.9998 13.3594L24.9999 12.8386Z" fill="#FF7058" />
                                <path d="M21.8228 12.3177H5.729V4.86975H21.8228V12.3177ZM6.4061 11.6406H21.1457V5.54685H6.4061V11.6406Z" fill="#FFD15C" />
                                <path d="M7.604 7.68227H8.38525V9.97397H8.9061V7.68227H9.73945V7.21353H7.604V7.68227ZM9.94775 7.21353H10.4686V9.97393H9.94775V7.21353ZM12.8124 9.19272C12.6561 9.40107 12.4478 9.50522 12.1874 9.50522C11.6665 9.50522 11.302 9.08857 11.302 8.56772C11.302 8.04687 11.6666 7.63022 12.1874 7.63022C12.4478 7.63022 12.6561 7.73438 12.8124 7.94272L12.8645 7.99482L13.2811 7.73437L13.229 7.63022C12.9686 7.26562 12.604 7.10938 12.1874 7.10938C11.354 7.10938 10.7811 7.68227 10.7811 8.51562C10.7811 9.34897 11.354 9.92187 12.1874 9.92187C12.604 9.92187 12.9686 9.71352 13.229 9.34897L13.2811 9.24482L12.8645 8.98437L12.8124 9.19272ZM15.6249 7.21353H14.9478L13.9582 8.35937V7.21353H13.4374V9.97397H13.9582V9.03647L14.1145 8.88022L15.052 9.97397H15.677L14.479 8.51562L15.6249 7.21353ZM15.8332 9.97397H17.6561V9.50522H16.302V8.77603H17.6561V8.30727H16.302V7.68227H17.6561V7.21353H15.8332V9.97397ZM17.8645 7.21353V7.68227H18.6978V9.97397H19.1665V7.68227H19.9999V7.21353H17.8645Z" fill="white" />
                            </svg>
                        </div>
                        <div class="info">
                            <div class="movie-name">Kimetsu No Yaiba</div>
                            <div class="detail">02/09/2025 - 19:30 tại CGV Tân Phú</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a asp-controller="Auth" asp-action="Logout" method="post" class="text-decoration-none text-black">
            <span>Đăng xuất</span>
            <i class="bi bi-box-arrow-right"></i>
        </a>
    </div>
</main>