@model DoAn.ViewModels.MoviesPageViewModel
@{
    ViewData["Title"] = "Movie list page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/movie/movies.css" asp-append-version="true" />
}

<section>
    <div class="trending-movies-title">Phim nổi bật</div>
    <div class="trending-movies-list">
        <div class="carousel">
            @if (Model.TredingMovies != null)
            {
                foreach (var movie in Model.TredingMovies)
                {
                    <div class="trending-movie-wrapper">
                        <a href="/Movie/Details">
                            <div class="trending-movie-thumbnail">
                                <div class="movie-thumbnail-content">
                                    <img src="@movie.PosterUrl" alt="@movie.Title" />
                                    <div class="movie-rating">@movie.AgeRating</div>
                                </div>
                            </div>
                            <div class="trending-movie-info">
                                <p class="rank">1</p>
                                <div>
                                    <p class="trending-movie-name">@movie.Title</p>
                                    @* <p class="trending-movie-author">@string.Join(", ", movie.Directors.Select(d => d.DirectorName))</p> *@
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>Không có phim nào!</p>
            }
        </div>
        <div class="carousel-controls">
            <div class="prev-btn">
                <i class="bi bi-chevron-left text-white"></i>
            </div>
            <div class="next-btn">
                <i class="bi bi-chevron-right text-white"></i>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="schedule-bar">
        <div class="schedule-bar__update">
            <span>Mới cập nhật</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">T2</span>
            <span class="schedule-bar__date">21/08</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">T3</span>
            <span class="schedule-bar__date">22/08</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">T4</span>
            <span class="schedule-bar__date">23/08</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">T5</span>
            <span class="schedule-bar__date">24/08</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">T6</span>
            <span class="schedule-bar__date">25/08</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">T7</span>
            <span class="schedule-bar__date">26/08</span>
        </div>
        <div class="schedule-bar__day">
            <span class="schedule-bar__weekday">CN</span>
            <span class="schedule-bar__date">27/08</span>
        </div>
    </div>
    <div class="d-flex flex-column gap-4">
        <div>
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="movies-title">Phim đang chiếu</div>
                <div class="text-white">Xem thêm</div>
            </div>
            <div class="movies-list">
                @if (@Model.NowShowingMovies.Count() > 0) 
                {
                    @foreach (var movie in Model.NowShowingMovies)
                    {
                        <div class="movie-item">
                            <div class="movie-thumbnail">
                                <img src="@movie.PosterUrl" alt="@movie.Title">
                                <div class="movie-info">
                                    <span class="movie-name">@movie.Title</span>
                                    @* <span class="movie-author">@string.Join(", ", movie.Directors.Select(d => d.DirectorName))</span> *@
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>khong co phim</div>
                }
            </div>
        </div>
        <div class="">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="movies-title">Phim sắp chiếu</div>
                <div class="text-white">Xem thêm</div>
            </div>
            <div class="movies-list">
                @if (@Model.NowShowingMovies.Count() > 0)
                {
                    @foreach (var movie in Model.NowShowingMovies)
                    {
                        <div class="movie-item">
                            <div class="movie-thumbnail">
                                <img src="@movie.PosterUrl" alt="@movie.Title">
                                <div class="movie-info">
                                    <span class="movie-name">@movie.Title</span>
                                    @* <span class="movie-author">@string.Join(", ", movie.Directors.Select(d => d.DirectorName))</span> *@
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>khong co phim</div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/movies.js" asp-append-version="true"></script>
}
