@{
}
@model IEnumerable<IGrouping<DoAn.Models.Cinema.Branch, DoAn.Models.Booking.Showtime>>

<div class="text-white cinema-list">
    @if (Model != null && Model.Any())
    {
        foreach (var branchGroup in Model)
        {
            var branch = branchGroup.Key;
            <div class="cinema-wrapper d-flex flex-column gap-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="cinema-info d-flex gap-2">
                        <img class="rounded cinema-logo" src="~/images/100.jpg" loading="lazy" alt="Cinema">
                        <div>
                            <div class="fw-bold cinema-name">@branch.Name</div>
                            <div class="cinema-address">Địa chỉ: @branch.Address</div>
                        </div>
                    </div>
                    <div class="show-cinema-toggle">
                        <i class="bi bi-chevron-up"></i>
                    </div>
                </div>

                <div class="showtime-list">
                    @foreach (var showtime in branchGroup.OrderBy(s => s.StartTime))
                    {
                        <div class="showtime-item" data-showtime-id="@showtime.ShowtimeId">
                            @showtime.StartTime?.ToString("HH:mm") ~ @showtime.EndTime?.ToString("HH:mm")
                        </div>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p class="cinema-wrapper d-flex flex-column gap-4">Không có suất chiếu nào trong ngày này.</p>
    }
</div>
