@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<DoAn.Models.Movies.Movie>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="admin-page">
    <!-- Tiêu đề -->
    <div class="admin-header">
        <h2 class="admin-title">Quản lý phim</h2>
    </div>

    <!-- Thanh công cụ -->
    <div class="admin-toolbar">
        <div class="filter-group">
            <div class="filter-item">Tất cả</div>
            <select class="filter-item">
                <option value="">Trạng thái</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <select class="filter-item">
                <option value="">Sắp xếp</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="action-group">
            <a asp-area="Admin" asp-action="Create" asp-controller="Movies" class="btn btn--primary">
                Thêm mới
            </a>
        </div>
    </div>

    <!-- Bảng dữ liệu -->
    <table class="table table--dark">
        <thead>
            <tr>
                <th><input type="checkbox" name="name" value="false" /></th>
                <th>Hình ảnh</th>
                <th>Tên phim</th>
                <th>Mô tả</th>
                <th>Thời gian</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var movie in Model)
            {
                <tr>
                    <td><input type="checkbox" name="name" value="false" /></td>
                    <td><img src="@movie.PosterUrl" height="100" width="100" alt="@movie.Title" /></td>
                    <td><p class="movie-title">@movie.Title</p></td>
                    <td><p class="movie-description">@movie.Description</p></td>
                    <td><p class="">@movie.Duration</p></td>
                    <td><p class="">@movie.Status</p></td>
                    <td>
                        <div class="actions">
                            <a asp-area="Admin" asp-action="Details" asp-controller="Movies" asp-route-id="@movie.MovieId">
                                <button><i class="bi bi-eye-fill"></i></button>
                            </a>
                            <a asp-area="Admin" asp-action="Edit" asp-controller="Movies" asp-route-id="@movie.MovieId">
                                <button><i class="bi bi-pencil-square"></i></button>
                            </a>
                            <button><i class="bi bi-trash3-fill"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">Tổng kết</td>
            </tr>
        </tfoot>
    </table>
</div>
