@{
    var userEmail = Context.Request.Cookies["UserEmail"];
    bool isGuest = String.IsNullOrEmpty(userEmail);

    string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    bool isUserPage = currentController == "User";
}

<header class="@(isUserPage ? "" : "header-fixed")">
    <div class="header-content @(isUserPage ? "" : "_header-fixed")">
        <a href="@Url.Action("Index", "Home")" class="text-decoration-none">
            <div class="logo text-white fw-bold fs-3">
                CINEMA
            </div>
        </a>
        <div class="navbar-container">
            <a href="#">Đang chiếu</a>
            <a href="#">Sắp chiếu</a>
            <a href="#">Mô tả</a>
            <a href="#">Mô tả</a>
            @if (isGuest)
            {
                <a href="@Url.Action("Login", "Auth")" class="login-btn">
                    Tài khoản
                </a>
            } else 
            {
                <div class="d-flex gap-2 align-items-center">
                    <a href="@Url.Action("Profile", "User")" class="login-btn">
                        Xin chào, @userEmail?.Substring(0, 5);
                    </a>
                    <a asp-controller="Auth" asp-action="Logout" class="text-decoration-none">
                        <i class="bi bi-box-arrow-right text-white"></i>
                    </a>
                </div>
            }
        </div>
    </div>
</header>