@{
    // var userEmail = Context.Request.Cookies["UserEmail"];
    // bool isGuest = String.IsNullOrEmpty(userEmail);
    bool isGuest = !User.Identity.IsAuthenticated;
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    bool isUserPage = currentController == "Profile";

    var userEmail = User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
    var fullName = User.Identity.Name;
}

<header class="@(isUserPage ? "" : "header-fixed")">
    <div class="header-content @(isUserPage ? "" : "_header-fixed")">
        <div class="d-flex align-items-center justify-content-center gap-4">
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="text-decoration-none">
                <div class="logo text-white fw-bold fs-3">
                    CINEMA
                </div>
            </a>
            <div class="link-group">
                <a href="#">Đang chiếu</a>
                <a href="#">Sắp chiếu</a>
                <a href="#">Mô tả</a>
                <a href="#">Mô tả</a>
            </div>
        </div>

         <!-- Search + User -->
        <div class="navbar-container d-flex align-items-center gap-3">
            <form asp-controller="Search" asp-action="Index" method="get" class="search-ctn">
                <input type="text" name="query" placeholder="Tìm kiếm" spellcheck="false"/>
                <button type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>

            @if (isGuest)
            {
                <a href="@Url.Action("Login", "Auth", new { area = "User" })" class="login-btn">
                    Tài khoản
                </a>
            }
            else
            {
                <div class="d-flex gap-2 align-items-center">
                    <a href="@Url.Action("Index", "Profile", new { area = "User" })" class="login-btn">
                        @fullName
                    </a>
                </div>
            }
        </div>
    </div>
</header>