@model DoAn.ViewModels.CheckoutViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Booking/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thanh toán";
}

<div class="checkout-container" data-user-id="@Model.Booking.UserId">
    <div class="booking-info-wrapper text-lg">
        <div class="booking-info-header text-xl font-bold">
            Thông tin đặt vé
        </div>
        <div class="booking-info-content">
            <div class="" style="display: flex; gap: 16px;">
                <img src=@Model.Booking.Showtime.Movie.PosterUrl alt=@Model.Booking.Showtime.Movie.Title width="120" height="160" style="border-radius: 8px;"/>
                <div class="" style="display: flex; flex-direction: column; gap: 8px;">
                    <div class="text-xl font-bold">@Model.Booking.Showtime.Movie.Title</div>
                    <div class="text-lg" style="font-weight: 700; color: #2e2e2e">Rạp: @Model.Booking.Showtime.Room.Branch.Name</div>
                    <div class="text-base">Địa chỉ: @Model.Booking.Showtime.Room.Branch.Address</div>
                    <div class="text-base ">Thời lượng: @Model.Booking.Showtime.Movie.Duration phút</div>
                </div>
            </div>
            <div class="" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px;">
                <div class="info-col">
                    <div>Phòng:</div>
                    <div class="font-bold">@Model.Booking.Showtime.Room.Name</div>
                </div>
                <div class="info-col">
                    <div>Ngày chiếu:</div>
                    <div class="font-bold">@Model.Booking.Showtime.StartTime.ToString("dd/MM/yyyy")</div>
                </div>
                <div class="info-col">
                    <div>Suất chiếu:</div>
                    <div class="font-bold">@Model.Booking.Showtime.StartTime.ToString("HH:mm") - @Model.Booking.Showtime.EndTime.ToString("HH:mm")</div>
                </div>
                <div class="info-col">
                    <div>Ghế ngồi:</div>
                    <div class="tickets-list">
                        @* @foreach (var ticket in Model.Booking.Tickets)
                        {
                            <div class="ticket-item font-bold">@ticket.Seat.SeatRow@ticket.Seat.SeatNumber, </div>
                        } *@
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-info-footer" style="">
            <div class="info-row">
                <div>Tạm tính:</div>
                <div>0đ</div>
            </div>
            <div class="info-row">
                <div>Giảm giá:</div>
                <div>0đ</div>
            </div>
            <div class="info-row" style="font-size: 24px; font-weight: bold;">
                <div class="">Tổng cộng:</div>
                <div>@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", Model.Booking.TotalAmount)</div>
            </div>
        </div>
    </div>

    <div class="payment-wrapper">
        <div class="" style="display: flex; flex: 1; align-items: center; justify-content: center;">
            <img src="@Model.Url" alt="QR Code thanh toán" />
        </div>
        <div style="display: flex; align-items: center; gap:16px; width: 100%;">
            <form action="/Booking/Reservation/CancelBooking?bookingId=@Model.Booking.BookingId"
                  method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="cancel-payment-button text-lg">Hủy</button>
            </form>
        </div>
    </div>
</div>
